@import "default.rasi"

configuration {
    modi: [dmenu];
    show-icons: true;
}

mainbox {
    children: ["inputbar", "message", "listview"];
}

listview {
    columns: 4;
    lines: 2;
    spacing: 8px;
    margin: 0px;
    padding: 64px 64px;
}

element {
    spacing: 0;
    margin: 0;
    padding: 8px 12px;
}

element-icon {
    size: 256;
    border-radius: 100%;
}
